.u-center-text {
  text-align: center;
}

.u-mb-big { margin-bottom: 8rem; }
.u-mb-mid { margin-bottom: 4 }
.u-mb-small { margin-bottom: 1.5rem; }

.u-mt-big { margin-top: 8rem; }
.u-mt-xlg { margin-top: 10rem; }
